<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Afrekenen </h4>
            
            <br />  
            <br />    
            <br />
            <a href="/termsandconditions">Klik hier voor de algemene voorwaarden</a>
            <br />
            <input class="form-check-label" type="checkbox" value=""> Ik ga akkoord met de algemene voorwaarden
            <br />
            <br />
            <br />
            <a> Kies een van de onderstaande betaalservices om het betaalprocess te beginnen</a>
            <br />
            <br />
            <a href="/purchase" class="btn btn-primary">Betaal met Paypal</a>
            
            <a href="/purchase" class="btn btn-primary">Betaal met Ideal</a>
            <br />
            <br />
            <br />
            



        </div>
    </div>

</div>

<% include ../partials/footer %>
