<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto">


            <h2>Shopping Cart</h2>
			<a>Hieronder staan de producten die zich momenteel in uw winkelmandje bevinden.</a>
			<table cellpadding="0" cellspacing="0" class="shoppingcart">
			<tr>
				<th colspan="2" class="header-name">Artikelomschrijving</th>
				<th class="header-vat">BTW</th>
				<th class="header-quantity">Aantal</th>
				<th class="header-price">Prijs</th>
				<th class="header-delete">Verwijder</th>
			</tr>			</table>


           

        </div>
    </div>

</div>

<% include ../partials/footer %>