<% include ./partials/header %>


<!--De wow mid factor  -->
<div class="full-width">
    <div id="imagecase" style="height:440px;">
        <section id="showcase">
            <h1> Voor de beste kwaliteit!</h1>
            <p> Gewoon bij Hot Buns </p>
        </section>
    </div>
</div>
<!-- Midden ding-->
<section id="newsletter">
    <div class="container">
        <center>
            <h1> De beste kwaliteit voor de laagste prijs!</h1>
        </center>
        <form>
            <!-- <input type="email" placeholder="Vul uw e mailadres in">
            <button type="submit" class="button_1">Versturen</button> -->
        </form>
    </div>
</section>

<!-- Tekst onder Foto -->
<div class="container" style="background-color: white;">
    <div class="row">
        <br>
        <h5>
            Met een passie voor brood zijn wij opgericht, en dat proeft u. Wij hebben een groot
            assortiment die wij bij uw aan huis bezorgen tot aan de deur.
        </h5>
        <br>
        <h5> Bij Hot Buns staat u nooit alleen. Wij helpen u met het kiezen van het brood dat het beste past bij uw smaak </h5>
        <br>
        <h5> Als u niet tevreden bent met onze producten kunt u altijd contact met ons opnemen</h5>
        <br>
        <h5> Namens ons team wensen wij u veel winkel plezier en hopen wij u gauw terug te zien!</h5>
        <br>
    </div>
</div>


<% include ./partials/footer %>

