<% include ../partials/header %>

<div class = "container">
    <div class="row mt-3">

        <div class = "col-md">
            <div class = "card">
                <div class = "container">
                    <h2>Over Ons</h2>
                    <br>
                    <br>
                    <p>Hier bij HotBuns garanderen wij u van de meest kwalitatieve en smaakvolle broden, koeken en zoetigheid.</p>
                    <p>Al 10 jaar zijn onze bakkers experts in hun vak. De kwaliteit van onze producten zijn onvergelijkbaar
                        met alle anderen.</p>
                        <p>Het beste brood vindt u alleen bij HotBuns</p>
                        <p>Onze website is volledig uitgerust om al uw bestellingen online af te handelen, zonder dat u de deur ook maar uit hoeft. Hiernaast
                            worden alle bestelde producten persoonlijk bezorgd. In het geval dat de bestelde items niet voldoen aan de opgegeven beschrijving 
                            is het altijd mogelijk om deze producten terug te sturen tegen een volledige vergoeding.
                        </p>
                        <br>
                        <p>Voor meer vragen of suggesties is het altijd mogelijk om contact op te nemen met een van onze medewerkers.</p>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "row">
        <div class = "col-md m-1">
            <div class = "card">
                <div class = "container">
                    <h2>Imre Baas</h2>
                    <p class = "title">CEO & Brooddeskundige</p>
                    Telefoonnummer: 061234678
                    <p>E-mail: ImreBaas@hotbuns.com</p> 
                    <br>
                    <h2>Kimyiu Lui</h2>
                    <p class = "title">CCO & Brooddeskundige</p>
                    Telefoonnummer: 0687654321
                    <p>E-mail: KimyiuLui@hotbuns.com</p>
                    <br>
                    <h2>Hoes Ozturk</h2>
                    <p class = "title">Granenmaler</p>
                    Telefoonnummer: 0695684126
                    <p>E-mail: HoesOzturk@hotbuns.com</p>
                    <br>
                </div>
            </div>
        </div>
        <div class = "col-md m-1">
            <div class = "card">
                <div class = "container">
                        <h2>Remco de Zeeuw</h2>
                        <p class = "title">Ovenschoonmaker</p>
                        Telefoonnummer: 0654289742
                        <p>E-mail: RemcodeZeeuw@hotbuns.com</p>
                        <br>
        
                        <h2>Djaysen Mercey</h2>
                        <p class = "title">Gistspecialist</p>
                        Telefoonnummer: 0642484736
                        <p>E-mail: DjaysenMercey@hotbuns.com</p>
                        <br>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
