<% include ../partials/header %>

<div class="row mt-3">
    <div class="col-md m-3">
        <div class="card">
            <img src="~/Content/images/IDK.png" alt="Imre" style="width:100%">
            <div class="container">
                <h2>Imre Baas</h2>
                <p class="title">CEO &amp; Brooddeskundige </p>
                <p> In zijn vrije tijd probeert hij zoveel mogelijk brood te vangen</p>
                <p>E: Ibaas@HotBuns.com</p>
            </div>
        </div>
    </div>

    <div class="col-md m-3">
        <div class="card">
            <img src="~/Content/images/IDK.png" alt="Kim Yiu" style="width:100%">
            <div class="container">
                <h2>Kim Yiu Lui</h2>
                <p class="title"> CEO </p>
                <p>In zijn vrije tijd probeert hij zoveel mogelijk brood te vangen</p>
                <p>E: KYLui@HotBuns.com</p>
            </div>
        </div>
    </div>

    <div class="col-md m-3">
        <div class="card">
            <img src="~/Content/images/IDK.png" alt="Djaysen" style="width:100%">
            <div class="container">
                <h2>Djaysen Mercey</h2>
                <p class="title">CEO </p>
                <p>In zijn vrije tijd probeert hij zoveel mogelijk brood te vangen</p>
                <p>E: DMercey@HotBuns.com</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md m-3">
        <div class="card">
            <img src="~/Content/images/IDK.png" alt="Hoes" style="width:100%">
            <div class="container">
                <h2>Hoes Ozturk</h2>
                <p class="title">CEO &amp; Brooddeskundige</p>
                <p>In zijn vrije tijd probeert hij zoveel mogelijk brood te vangen</p>
                <p>E: Hozturk@HotBuns.com</p>
            </div>
        </div>
    </div>

    <div class="col-md m-3">
        <div class="card">
            <img src="~/Content/images/IDK.png" alt="Remco" style="width:100%">
            <div class="container">
                <h2>Remco de Zeeuw</h2>
                <p class="title"> CEO</p>
                <p>In zijn vrije tijd probeert hij zoveel mogelijk brood te vangen</p>
                <p>E: RZeeuw@example.com</p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
