<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto" style="min-height:548px;">
            <h3>Contact</h3>
            <br />
            <strong>Neem contact met ons op</strong>
            <br />
            <br />
            <!-- <div class="container">
    <div style="text-align: center">
    <h2>Neem contact met ons op</h2>
    </div>
        <div class="row">
          <div class="column">
            <form action="/action_page.php">
              <label for="fname">Naam</label>
              <input type="text" id="fname" name="firstname" placeholder="Naam">
              <label for="lname">E-mailadres</label>
              <input type="text" id="lname" name="lastname" placeholder="E-mailadres">
              <label for="subject">Uw vraag of bericht: </label>
              <textarea id="subject" name="subject" placeholder="Beschrijving.." style="height:170px"></textarea>
              <input type="submit" value="Verstuur">
            </form>
          </div>
        </div>
      </div> -->

            <address>
                Wijnhaven 107<br />
                3011 WN, Rotterdam<br />
                <abbr title="Phone">
                    T: 0906 - 200 1822
                </abbr>

            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:hotbunsemail@gmail.com">HotBunsEmail@gmail.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:hotbunsemail@gmail.com">HotBunsEmail@gmail.com</a>
            </address>
            <% if(currentUser){ %>
            <strong>Neem contact met ons op.</strong>
            <br />
            <% if(currentUser.role == "User"){ %>
            <a href="/help/" class="btn btn-primary">Naar het ticketsysteem</a>
            <% }else{%>
            <a href="/help/admin/" class="btn btn-primary"> Naar het ticketsysteem</a>
            <% }}%>
        </div>
    </div>

</div>

<% include ../partials/footer %>