
<% include ../partials/header %>

<div class="container">
    <h2>Privacy Beleid</h2>
    <div><span class="cls_002">HotBuns HotBuns, gevestigd aan Not a real company street 1, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.</span></div>
    <div><span class="cls_002">Contactgegevens:</span></div>
    <div> </span><A HREF="https://www.hotbuns.nl/">https://www.HotBuns.nl</A> Not a real company street 1 0101234567</div>
    <div><span class="cls_003">Persoonsgegevens die wij verwerken</span></div>
    <div><span class="cls_002">HotBuns verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en/of omdat u deze zelf aan ons verstrekt. Hieronder vindt u een overzicht van de</span></div>
    <div><span class="cls_002">persoonsgegevens die wij verwerken:</span></div>
    <div><span class="cls_002">- Voor- en achternaam</span></div>
    <div><span class="cls_002">- Geslacht</span></div>
    <div><span class="cls_002">- Adresgegevens</span></div>
    <div><span class="cls_002">- Telefoonnummer</span></div>
    <div><span class="cls_002">- E-mailadres</span></div>
    <div><span class="cls_002">- Bankrekeningnummer</span></div>
    <div>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</span></div>
    <div><span class="cls_002">Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of</span></div>
    <div><span class="cls_002">voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om</span></div>
    <div>zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als u er van overtuigd bent dat wij zonder die toestemming persoonlijke</span></div>
    <div><span class="cls_002">gegevens hebben verzameld over een minderjarige, neem dan contact met ons op via info@Hotbuns.com, dan verwijderen wij deze informatie.</span></div>
    <div><span class="cls_003">Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</span></div>
    <div><span class="cls_002">HotBuns verwerkt uw persoonsgegevens voor de volgende doelen:</span></div>
    <div><span class="cls_002">- Het afhandelen van uw betaling</span></div>
    <div><span class="cls_002">- U de mogelijkheid te bieden een account aan te maken</span></div>
    <div><span class="cls_002">- Om goederen en diensten bij u af te leveren</span></div>
    <div><span class="cls_003">Geautomatiseerde besluitvorming</span></div>
    <div><span class="cls_002">HotBuns neemt [wel / niet] op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om</span></div>
    <div>besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van HotBuns) tussen zit. HotBuns</span></div>
    <div><span class="cls_002">gebruikt de volgende computerprogramma's of -systemen: [aanvullen met naam van het systeem, waarom het gebruikt wordt, onderliggende logica, belang en verwachte</span></div>
    <div><span class="cls_002">gevolgen voor betrokkene]</span></div>
    <div><span class="cls_003">Hoe lang we persoonsgegevens bewaren</span></div>
    <div><span class="cls_002">HotBuns bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw gegevens worden verzameld. Wij hanteren de volgende</span></div>
    <div><span class="cls_002">bewaartermijnen voor de volgende (categorieen) van persoonsgegevens: (Categorie) persoonsgegevens > Bewaartermijn > Reden Personalia > Bewaartermijn > Reden</span></div>
    <div><span class="cls_002">Adres > Bewaartermijn > Reden Enzovoort > Bewaartermijn > Reden</span></div>
    <div><span class="cls_003">Delen van persoonsgegevens met derden</span></div>
    <div><span class="cls_002">HotBuns verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met u of om te voldoen aan een wettelijke verplichting.</span></div>
    <div><span class="cls_003">Cookies, of vergelijkbare technieken, die wij gebruiken</span></div>
    <div><span class="cls_002">HotBuns gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk maken op uw privacy. Een cookie is een klein tekstbestand dat bij het</span></div>
    <div><span class="cls_002">eerste bezoek aan deze website wordt opgeslagen op uw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de</span></div>
    <div><span class="cls_002">website en uw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld uw voorkeursinstellingen. Ook kunnen wij hiermee onze</span></div>
    <div><span class="cls_002">website optimaliseren. U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kunt u ook alle</span></div>
    <div><span class="cls_002">informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen.</span></div>
    <div><span class="cls_003">Gegevens inzien, aanpassen of verwijderen</span></div>
    <div><span class="cls_002">U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heeft u het recht om uw eventuele toestemming voor de</span></div>
    <div><span class="cls_002">gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw persoonsgegevens door HotBuns en heeft u het recht op gegevensoverdraagbaarheid.</span></div>
    <div><span class="cls_002">Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand naar u of een ander, door u genoemde</span></div>
    <div><span class="cls_002">organisatie, te sturen. U kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van uw persoonsgegevens of verzoek tot intrekking van uw toestemming</span></div>
    <div><span class="cls_002">of bezwaar op de verwerking van uw persoonsgegevens sturen naar info@Hotbuns.com. Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, vragen wij u</span></div>
    <div>een kopie van uw identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie uw pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het</div>
    <div><span class="cls_002">paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van uw privacy. We reageren zo snel mogelijk, maar binnen vier weken, op uw</span></div>
    <br />
    <div ><span class="cls_002">verzoek. HotBuns wil u er tevens op wijzen dat u de mogelijkheid heeft om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan</span></div>
    <div><span class="cls_002">via de volgende link: </span><A HREF="https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons/">https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons</A> </div>
    <div><span class="cls_003">Hoe wij persoonsgegevens beveiligen</span></div>
    <div><span class="cls_002">HotBuns neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en</span></div>
    <div><span class="cls_002">ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met onze</span></div>
    <div><span class="cls_002">klantenservice of via info@Hotbuns.com</span></div>

</div>

<% include ../partials/footer %>

