<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto">


            <h2>Bestellingen</h2>
            <h4>Hoe plaats ik een bestelling?</h4>
            <a>
                Stap 1: Om een bestelling te plaatsen klikt u op de broodsoort die u wilt hebben, en selecteert u 'Toevoegen aan winkelwagen'. <br />
                Stap 2: Nadat u alle gewenste producten heeft geselecteerd, gaat u naar de winkelwagen en drukt u op 'bestellen'. <br />
                Stap 3: U logt in op uw account, of u kunt een account aanmaken als u deze nog niet heeft. <br />
                Stap 4: U betaalt voor de producten met behulp van PayPal of iDEAL. <br />
                <br />
            </a>
            <h4>Hoe annuleer ik een bestelling?</h4>
            <a>
                Via uw persoonlijke pagina kunt u altijd uw bestellingen annuleren en nader bekijken.
                Als u de bestelling niet wilt ontvangen, kunt u onder "Mijn bestellingen" met een druk op de knop "Bestelling annuleren" de bestelling annuleren.
                In dat geval wordt de bestelling volledig geannuleerd en zal de betaling worden teruggestort.
            </a>


            <br />
            <br />


            <h2>Betalingen</h2>
            <h4>Hoe kan ik mijn bestelling betalen</h4>
            <a>
                Bestellingen betaalt u via iDEAL of PayPal, direct bij het plaatsen van uw bestelling. <br />
                Op uw account kunt u zien welke bestellingen u allemaal heeft geplaatst. <br />
            </a>
            <a><b>Extra informatie over PayPal en iDEAL <br /></b></a>
            <a href="https://www.paypal.com/us/home">PayPal</a>
            <br />
            <a href="https://www.ideal.nl/en/">iDEAL</a>

            <br />
            <br />


            <h2>Retourneren</h2>
            <h4>Mag ik mijn artikelen retourneren?</h4>
            <a>De retourvoorwaarden vindt u hieronder.</a>
            <a><b><br />Retourvoorwaarden</b></a>
            <a><br />U mag een product terugsturen als het overeenkomt met een van deze eisen:</a>
            <ol>
                <li>Het product is beschimmeld wanneer u het ontvangt</li>
                <li>Het product is dusdanig beschadigd dat het bijdraagt aan een negatieve eetervaring. (bv. gebroken koeken)</li>
                <li>De kwaliteit van het product is lager dan geadverteerd (bv. zeer donker gebakken of grote gaten in het brood)</li>
            </ol>
            <a>Als het product aan een of meerdere van deze eisen voldoet, dan krijgt u na het aantonen van een aankoopbewijs uw geld geretourneerd.</a>

        </div>
    </div>

</div>

<% include ../partials/footer %>