<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto">


            <h2>Bestellingen</h2>
            <h4>Hoe plaats ik een bestelling?</h4>
            <a>
                Stap 1: Om een bestelling te plaatsen klikt u op het broodsoort dat u wilt hebben, en selecteert u 'In Winkelwagen zetten'. <br />
                Stap 2: Nadat u alle gewenste producten heeft geselecteerd, gaat u naar de winkelwagen en drukt u op 'bestellen'. <br />
                Stap 3: U logt in op uw account, of u kunt aan account aanmaken mits u deze nog niet heeft. <br />
                Stap 4: U betaalt voor de producten met behulp van Paypal of Ideal. <br />
                <br />
            </a>
            <h4>Hoe annuleer ik een bestelling?</h4>
            <a>
                Via uw persoonlijke pagina kunt u altijd uw bestellingen annuleren, en nader bekijken.
                Als u de bestelling niet wilt ontvangen, kunt u onder "Jouw Bestelling" met een druk op de knop "Bestelling Annuleren" de bestelling annuleren.
                In dat geval wordt de bestelling volledig geannuleerd en zal de betaling worden teruggestort.
            </a>


            <br />
            <br />


            <h2>Betalingen</h2>
            <h4>Hoe kan ik mijn bestelling betalen</h4>
            <a>
                Bestellingen betaalt u direct via Ideal, of Paypal bij het plaatsen van uw bestelling. <br />
                Op uw Account kunt u zien welke betalingen u allemaal heeft gemaakt. <br />
            </a>
            <a><b>Extra Informatie over Paypal en Ideal <br /></b></a>
            <a href="https://www.paypal.com/us/home">Paypal</a>
            <br />
            <a href="https://www.ideal.nl/en/">Ideal</a>

            <br />
            <br />


            <h2>Retourneren</h2>
            <h4>Mag ik mijn artikelen retourneren?</h4>
            <a>De retourvoorwaarden vind je hieronder.</a>
            <a><b><br />Retourvoorwaarden</b></a>
            <a><br />U mag een product terugsturen als het overeenkomt met een van deze eisen.</a>
            <ol>
                <li>Het product is beschimmeld wanneer u het binnen krijgt</li>
                <li>Het product is dusdanig beschadigt dat het bijdraagt aan een negatieve eet-ervaring. (VB: Gebroken koeken)</li>
                <li>De kwaliteit van het product is lager dan geadverteerd (VB: Zeer donker gebakken, Grote gaten in het brood)</li>
            </ol>
            <a>Als het product aan een, of meerdere van deze eisen voldoet, dan krijgt u na het aantonen van een aankoopbewijs uw geld geretourneerd.</a>

        </div>
    </div>

</div>

<% include ../partials/footer %>